body{
    background-color: deepskyblue;
    font-family: helvetica;
}

.parent {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 8px;
    width: 1200px;
    grid-template-areas:
    "header header"
    "aside content"
    "footer footer";
    margin: auto;
    place-content: center;
    border-radius: 20px;
    height: 900px;
}

.header {
    grid-column: span 4 / span 4;
    background-color: darkblue;
    color: yellow;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
}

.aside {
    grid-row: span 3 / span 3;
    grid-row-start: 2;
        background-color: darkblue;
    color: yellow;
    padding: 20px;
    border-radius: 10px;
}

main {
    grid-column: span 3 / span 3;
    grid-row: span 3 / span 3;
    grid-row-start: 2;
        background-color: darkblue;
    color: yellow;
    border-radius: 10px;
    padding: 20px;
    overflow-y: scroll;
    overflow-x: hidden;
}

footer {
    grid-column: span 4 / span 4;
    grid-row-start: 5;
}